# Auto detect text files and perform LF normalization
* text=auto
*.py linguist-language=Python
task1/staticfiles/* linguist-vendored
task1/static/* linguist-vendored
myapp/templates/* linguist-vendored
myapp/* linguist-documentation
