{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">	
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
  </style>
</head>
<body>
<!-- Home Page Starts -->
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 col-12 col-sm-12 col-md-6 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#notification" data-toggle="tab" class="nav-link">Notifications</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{user.firstname}} {{user.lastname}}</h5>
                    {% if request.user.is_authenticated %}
                    <a href="/logout/"><button class="btn btn-default">Logout</button></a>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                            <h6>About</h6>
                            <p>
                                Web Designer, UI/UX Engineer
                            </p>
                            <h6>Hobbies</h6>
                            <p>
                                Indie music, skiing and hiking. I love the great outdoors.
                            </p>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <!-- create new post -->
                        {% if request.user == user %}
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" style="height: 40px;width: 100px;">New post</button>

						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <form action="/post/" method="post" enctype="multipart/form-data" id="posted">{% csrf_token %}
						          <div class="form-group">
						            <label for="Description" class="col-form-label"> Description </label>
						            <textarea class="form-control" name="description"></textarea>
						          </div>          
						          <div class="form-group" style="border-width: 0px;">
						            <label for="image" style="border-width: 0px;" class="col-form-label" >Upload image:</label>
						            <input type="file" class="form-control" name="image" id="recipient-name" style="border-width: 0px;">
						          </div>
						        
						      </div>
						      <div class="modal-footer" >
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <button type="submit" class="btn btn-primary">Post to timeline</button>
						        </form>
						      </div>
						    </div>
						  </div>
						</div>
						{% endif %}
						<!-- new post modal box ends -->
                        </div>
                        <div class="container">
	{%if post%}
    <div class="row">
    	{% for i in post %}
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="{% if i.user.profile.image %}/media/{{ i.image }}{% else %} https://ssl.gstatic.com/accounts/ui/avatar_2x.png{% endif %} " class="img-circle avatar img-responsive" style="max-width: 50px;max-height: 50px;" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{i.user.firstname}} {{i.user.lastname}}</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div> 
                {% if i.image%}
                <center>
		            <img class="card-img-top img-responsive" src="/media/{{ i.image }}" alt="Card image cap" style="max-width:90%;max-height: 500px;" align="center">
		            </center>
	            		{% endif %}
                <div class="post-description"> 
                    <p>{{i.description}}</p>
                    <div class="stats">
                    	<form method="post" id="form{{forloop.counter}}" >{% csrf_token %}
		            	<input type="hidden" name="post_id" value="{{i.id}}">
		            	<input type="hidden" name="user" value="{{request.user.username}}">
		            	<div>
		            <span id="likes_countform{{forloop.counter}}">{{i.Likes}}</span> <i class="fa fa-thumbs-up icon"></i>	
		            <button type="submit" id="{{forloop.counter}}" class="like {%if i in like_list %}btn-primary{%endif%} btn-default btn" >Like</button> 
		            
		            <span id="dislikes_countform{{forloop.counter}}">{{i.Dislikes}}</span> <i class="fa fa-thumbs-down icon"></i>
		            <button type="submit" id="{{forloop.counter}}" class="dislike {%if i in dislike_list %}btn-primary{%endif%} btn btn-default" > Dislike</button>
		        </div>
		            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
    {%else%}
    <h2>No posts to show</h2>
    {%endif%}      
</div>
                	</div>

            </div>
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                    </div>
                    <table class="table table-hover table-striped">
                        <tbody>                                    
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus. 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros. 
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
                <div class="tab-pane" id="notification">
                    <div class="col-md-12">
                        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                        <table class="table table-sm table-hover table-striped">
                            <tbody>                                    
                                <tr>
                                    <td>
                                        <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home page ends -->


<script>

$(".like").click(function(e) {

    var url = "/like/";
    var id1 = $(this).attr("id");
    id = "form"+id1;
    data = $("#"+ id).serialize();
    div_like = $("#likes_count"+id).text();
    div_dislike = $("#dislikes_count"+id).text();
    //console.log("like");
    $.ajax({
           type: "POST",
           url: url,
           data: $("#"+ id).serialize() , // serializes the form's elements.
           success: function(data,status)
           {
           	if(data.count_likes>div_like)
           	{
           		console.log($("[id='"+id1+"']:eq(1)").attr("class"));
           		$("#"+id1).removeClass("btn-default");
           		$("#"+id1).addClass("btn-primary");
           	}
           	else
           	{
           		$("#"+id1).addClass("btn-default");
           		$("#"+id1).removeClass("btn-primary");
           	}
           	if(data.count_dislikes>div_dislike)
           	{
           		console.log($("[id='"+id1+"']:eq(1)").attr("class"));
           		$("[id='"+id1+"']:eq(1)").removeClass("btn-default");
           		$("[id='"+id1+"']:eq(1)").addClass("btn-primary");
           	}
           	else
           	{
           		$("[id='"+id1+"']:eq(1)").addClass("btn-default");
           		$("[id='"+id1+"']:eq(1)").removeClass("btn-primary");
           	}

           	$("#likes_count"+id).html(data.count_likes);
           	$("#dislikes_count"+id).html(data.count_dislikes);

            	console.log(data.count_likes,div_like,data.count_dislikes);
            	
           },
           error: function(data,status,xhr)
           {
              console.log('error',data.responseJSON.Message);
           }
         });
       e.preventDefault();
       return false;
    // avoid to execute the actual submit of the form.
});
$(".dislike").click(function(e) {

    var url = "/dislik/";

    var id1 = $(this).attr("id");
    id = "form"+id1;
    data = $("#"+ id).serialize();
    //console.log("dislike");
    div_like = $("#likes_count"+id).text();
    div_dislike = $("#dislikes_count"+id).text();
    $.ajax({
           type: "POST",
           url: url,
           data: $("#"+ id).serialize() , // serializes the form's elements.
           success: function(data,status)
           {
           	if(data.count_likes>div_like)
           	{
           		console.log($("[id='"+id1+"']:eq(1)").attr("class"));
           		$("#"+id1).removeClass("btn-default");
           		$("#"+id1).addClass("btn-primary");
           	}
           	else
           	{
           		$("#"+id1).addClass("btn-default");
           		$("#"+id1).removeClass("btn-primary");
           	}
           	if(data.count_dislikes>div_dislike)
           	{
           		console.log($("[id='"+id1+"']:eq(1)").attr("class"));
           		$("[id='"+id1+"']:eq(1)").removeClass("btn-default");
           		$("[id='"+id1+"']:eq(1)").addClass("btn-primary");
           	}
           	else
           	{
           		$("[id='"+id1+"']:eq(1)").addClass("btn-default");
           		$("[id='"+id1+"']:eq(1)").removeClass("btn-primary");
           	}
           	$("#likes_count"+id).html(data.count_likes);
           	$("#dislikes_count"+id).html(data.count_dislikes);
           	console.log(data.count_likes,data.count_dislikes);
            	//console.log($("#dislikes_count"+id));
            	
           },
           error: function(data,status,xhr)
           {
              //console.log('error',data);
           }
         });
       e.preventDefault();
       return false;
    // avoid to execute the actual submit of the form.
});
</script>
</body>
</html>